$def with ()

<h1>
  Finish the Story
</h1>

<p>
"Finish the Story" is a writing game that anyone can play. This collaborative, online learning experience will help you <em>practice the craft of creative writing</em>.
</p>

<p>
Grab two <span id=person>people</span> and build your story - together!
</p>

<form method=post action=/players/create>
<label>Your Name<input required=required type=text name=name></input></label>
<button>Join Game</button>
</form>

<h2>Credits</h2>

<div>
<p>
The original board-game version of Finish the Story was developed by <a href="https://www.achimishra.com/">Achi Mishra</a>, Chen Ji, Alison Crosby, Kendra Shu, Raghu Mina, and Keyu Lai.<br>
This web adaptation of the board game was implemented by <a href="https://www.maxwelljoslyn.com">Maxwell Joslyn</a>.<br>
The source code is available at <a href="https://github.com/maxwelljoslyn/finishthestory">https://github.com/maxwelljoslyn/finishthestory</a>.
</p>
</div>

<h2>Gameplay Screenshot</h2>

<img src=/static/screenshot.jpg>

<script defer>

  const personArray = ["friends", "family members", "acquaintances", "strangers", "buddies", "people"]
  var personIndex = 0

  function updatePerson() {
  let s = document.getElementById('person')
  s.innerText = personArray[personIndex]
  personIndex = (personIndex + 1) % personArray.length
}

  setInterval(updatePerson, 2000)
</script>
