$def with (game, r, votes, possiblewinners, winnerpid, pid_to_name)


$ winner = pid_to_name[winnerpid]

<div>
<ul>
$for pidd, num in votes.items():
    <li>$:pid_to_name[pidd] got $:str(num) votes.</li>
</ul>
</div>

$if len(possiblewinners) == 1:
    <p>$:str(winner) was the winner! Their writing will be added to the story.</p>
$else:
    $ foo = ", ".join([pid_to_name[x] for x in possiblewinners])
    <p>These people tied: $:{foo}.</p>
    <p>The computer chose randomly, and $:str(winner) was the winner! Their writing will be added to the story.</p>


<script defer>
  function nextRound() {
    fetch('/games/$game/rounds/$r/advance', {
      method: 'POST',
    }).then(response => response.json())
      .then(data => {
        console.log(data.next)
        window.location.assign(data.next)
    }).catch((error) => {
        console.error('nextRound errored:', error)
    })
  }
  setInterval(nextRound, 10000)
</script>
